In [2]:
print(10*7)

70

In [4]:
print('Hi')

Hi

In [6]:
a = 2025
print(a)

2025

In [8]:
print(a, a*2)

2025 4050

In [9]:
b = '여러분'
print(b + '안녕하세요')

여러분안녕하세요

In [10]:
print(b, '안녕하세요')

여러분 안녕하세요

In [11]:
c = '새해'
print(a, '년에도' + c + '복 많이 받으세요')

2025 년에도새해복 많이 받으세요

In [12]:
name = input('이름 입력 >> ')

이름 입력 >> 이이르음

In [13]:
print(name)

이이르음

In [14]:
birth = input('출생 년도 입력 >> ')

출생 년도 입력 >> 2003

In [15]:
2024 - int(birth)

21

In [16]:
print(2024-int(birth), '살 입니다')

21 살 입니다

In [18]:
print(
    3 + 4,
    3- 4,
    3 * 4,
    3 / 4
)

7 -1 12 0.75

In [21]:
print(
    3 > 4,
    3 >= 4,
    3 < 4,
    3 <= 4,
    3 == 4,
    3 != 4
)

False False True True False True

In [22]:
bool('')

False

In [23]:
bool(0)

False

In [24]:
bool(1)

True

In [25]:
import random

In [26]:
dice = random.randint(1, 6)

In [27]:
dice

1

In [28]:
import math

In [30]:
math.sqrt(2)

1.4142135623730951

In [31]:
math.pi

3.141592653589793

In [32]:
math.e

2.718281828459045

In [34]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [35]:
test_score = [80,60,70,100]
for score in test_score:
    print(score)

80
60
70
100

In [36]:
test_name=['국어','영어','수힉','과학']
for name in test_name:
    print(name)

국어
영어
수힉
과학

In [37]:
if(10>0):
    print('안녕')

안녕

In [38]:
password = input('패스워드 입력')
if(int(password) == 12345):
    print('로그인 되었습니다')
elif(int(password) == 11111):
    print('관리자 권한입니다')
else:
    print('로그인에 실패하였습니다')

패스워드 입력11111
관리자 권한입니다

In [39]:
arr2 = ['월', '화', '수', '목', '금', '토','일']
print(arr2)

['월', '화', '수', '목', '금', '토', '일']

In [44]:
arr2 = ['월', '화', '수', '목', '금', '토','일']
print(arr2[0 ])
print(arr2[ 1])
print(arr2[ 2])
print(arr2[ 3])
print(arr2[ 4])
print(arr2[ 5])
print(arr2[ 6])
print()
print(arr2[-1])
print(arr2[-2])
print(arr2[-3])
print(arr2[-4])
print(arr2[-5])
print(arr2[-6])
print(arr2[-0])

월
화
수
목
금
토
일

일
토
금
목
수
화
월

In [46]:
arr2 = ['월', '화', '수', '목', '금', '토','일']

print(arr2[0:2])
print(arr2[1:4])
print(arr2[1:])
print(arr2[:3])
print(arr2[:])

['월', '화']
['화', '수', '목']
['화', '수', '목', '금', '토', '일']
['월', '화', '수']
['월', '화', '수', '목', '금', '토', '일']

In [47]:
arr1 = [1,2,3,4,5]
print(arr1)
print(len(arr1))
arr1.append(6)
print(arr1)
print(len(arr1))

[1, 2, 3, 4, 5]
5
[1, 2, 3, 4, 5, 6]
6

In [48]:
arr2 = ['월', '화', '수', '목', '금', '토']
print(arr2)
print(len(arr2))
arr2.append('일')
print(arr2)
print(len(arr2))

['월', '화', '수', '목', '금', '토']
6
['월', '화', '수', '목', '금', '토', '일']
7

In [18]:
numArr = []

for num in range(2):
    numData = float(input(f'{num + 1}번째 숫자 입력 '))
    numArr.append(numData)

print(f'가장 큰 값 {max(numArr)}')

1번째 숫자 입력 2.4
2번째 숫자 입력 5.7
가장 큰 값 5.7

In [19]:
num1 = input('첫 번째 숫자 입력 ')
num2 = input('두 번째 숫자 입력 ')


num1, num2 = float(num1), float(num2)

print(num1 if num1 > num2 else num2)

첫 번째 숫자 입력 2
두 번째 숫자 입력 4
4.0

In [24]:
# 단위 변환 함수 정의
def celsius_to_fahrenheit(celsius):
    """섭씨 온도 -> 화씨온도로 변환"""
    return (celsius * 9/5) + 32
def kilometers_to_miles(kilometers):
    """킬로미터 -> 마일 변환"""
    return kilometers * 0.621371
def pounds_to_killograms(pounds):
    """파운드 -> 킬로그램 변환"""
    return pounds * 0.453592

print("[다음 중 원하는 변환을 선택하세요]")
print("1. 섭씨를 화씨로 변환")
print("2. 킬로미터를 마일로 변환")
print("3. 파운드를 킬로그램으로 변환")

type = input("선택 : ")
value = float(input("값 입력 : "))

if type == 1:
    print(celsius_to_fahrenheit(value))
elif type == 2:
    print(kilometers_to_miles(value))
else:
    print(pounds_to_killograms(value))

[다음 중 원하는 변환을 선택하세요]
1. 섭씨를 화씨로 변환
2. 킬로미터를 마일로 변환
3. 파운드를 킬로그램으로 변환
선택 : 3
값 입력 : 4.5
2.041164